header.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	position: absolute;
	width: 100%;
}

header .header-banner {
	display: flex;
    width: 100%;
    justify-content: center;
	background-color: rgba(116, 188, 31, 1);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header .header-banner-content {
	display: flex;
	gap: 30px;
    align-items: center;
    padding: 10px;
}

header .header-banner-content > div {
	display: flex;
	gap: 10px;
}

header.header .main-header {
	max-width: 1266px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	display: flex;
	padding: 0 20px;
	flex-wrap: wrap;
}

header.header img.logo {
	width: 300px;
}

nav.main-nav ul {
	display: flex;
	column-gap: 20px;
}
nav.main-nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.main-nav ul li a {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

nav.main-nav ul li a.gem-btn {
	color: #000;
	margin-bottom: 0;
	max-height: 45px;
	line-height: 1;
}

@media only screen and (max-width: 768px) {
	header {
		background-color: rgba(38, 38, 38, 1);
	}

	header.header .main-header .main-nav.show {
		margin-bottom: 20px;
	}

	.header .main-header .main-nav {
		width: 100%;
	}
	.header-menu,
	.header .main-header .main-nav {
		display: none;
	}

	.header-hamburger {
		display: flex;
		align-items: center;
		height: 92px;
		justify-content: center;
	}

	.header-hamburger i {
		color: #fff;
		font-size: 40px;
	}
}
