.gem-btn {
  background-color: var(--green);
  border-radius: 30px;
  border: 3px solid var(--green);
  padding: 10px 50px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}

.gem-btn-black {
  color: #000 !important;
  font-weight: 800;
}

.gem-btn.outline {
  background-color: transparent;
}

.text-green {
  color: var(--green) !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-horizontal-center{
  margin: 0 auto;
  display: block;
}

.padding-vertical-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-title {
  font-family: Poppins, Inter;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.section-hero.page-hero {
  position: relative;
  padding-top: 250px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(38, 38, 38, 0.95), rgba(14, 14, 14, 0)), url(../../assets/v5/subheader-dusty-sky.jpg) no-repeat center left;
  background-size: cover;
}

.section-hero.page-hero::after {
  content: "";
  background: url(../../assets/v5/subheader-dark-img.svg) no-repeat center right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-47%);
}

.section-hero.page-hero .wrapper {
  max-width: 1300px;
  align-items: start;
}
.section-hero.page-hero .wrapper .hero-title {
  padding-left: 34px;
  text-align: left;
}

.section-hero .wrapper {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}

.section-hero .wrapper .logo {
  width: 500px;
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 80%;
}

.section-hero .wrapper .description {
  font-family: Poppins, Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: center;
  text-align: center;
  width: 1114px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section-content .hr {
  background-color: rgba(214, 214, 214, 1);
  height: 0.5px;
}

.section-content .header-divider {
  margin: 70px 0 30px;
  width: 100%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: Inter, Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
}

.section-content .wrapper .header-divider:before {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: calc(50% - 180px);
  height: 0.5px;
  position: absolute;
  left: 0;
  top: 50%;
}

.section-content .wrapper .header-divider:after {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: calc(50% - 180px);
  height: 0.5px;
  position: absolute;
  right: 0;
  top: 50%;
}

.section-products {
  background-color: #fff;
}

.section-content .wrapper {
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .section-hero.page-hero {
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .section-hero.page-hero::after {
    transform: translateY(-45%);
    background-size: 50%;
  }
}
@media only screen and (max-width: 570px) {
  .section-hero.page-hero::after {
    top: 60%;
  }

  header .header-banner-content {
    flex-direction: column;
  }

  .section-hero {
    padding-top: 300px;
    padding-bottom: 70px;
  }

  .hero-title {
    line-height: 1.2;
  }

  .section-content .wrapper .gem-ventures h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .section-content .wrapper .peer-circles-wrapper h3 {
    font-size: 32px;
  }

  .section-content .includes-wrapper h3 {
    font-size: 38px;
    line-height: 1.2;
  }

  .section-content .wrapper .private-app-section {
    flex-direction: column-reverse;
  }
  .section-content .wrapper .private-app-section .private-app-text {
    width: 100%;
  }

  .section-content .wrapper .private-app-section .private-app-text h3 {
    font-size: 38px;
  }

  .section-content .wrapper .private-app-section .private-app-text p {
    font-size: 30px;
  }

  .section-content
    .testimonial-wrapper.anthony-romano
    .left
    .bio-wrapper
    span:first-child {
    white-space: normal;
  }

  .section-content .testimonial-wrapper .right p {
    font-size: 22px;
  }

  .section-content .testimonial-wrapper .left {
    column-gap: 0;
    flex-direction: column;
  }

  .section-content .testimonial-wrapper .left .bio-wrapper span:first-child,
  .section-content .testimonial-wrapper .left .bio-wrapper span:last-child {
    width: auto;
    text-align: center;
  }

  .section-content .develop-wrapper p {
    font-size: 33px;
    margin: 20px 0;
  }

  .section-content .who-is-it-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .section-content .who-is-it-wrapper h3 {
    font-size: 38px;
  }

  .section-content .who-is-it-wrapper .who-is-it-list {
    margin-bottom: 0;
  }

  .section-content .who-is-it-wrapper a {
    font-size: 19px;
  }

  .section-content .who-is-it-wrapper .pricing p {
    font-size: 30px;
  }

  .section-content .who-is-it-wrapper h3 {
    margin-top: 50px;
  }

  .testimonial-footer-wrapper .author-wrapper .author-img {
    width: 40%;
  }

  .section-subfooter .title {
    font-size: 54px;
  }

  .section-subfooter p {
    margin-bottom: 50px;
  }

  .section-subfooter {
    padding-bottom: 70px;
  }
}
